h1{
	background-color: darkseagreen;
	color: white;
	text-align: center;
	border-radius: 50px;
}
body{
	background-color: honeydew;
	flex-wrap: wrap;
	border: 5px solid darkolivegreen;
	border-radius: 50px;
}
p{
	border: 2px solid darkolivegreen;
	font-weight: bold;
    text-align: left;
    line-height: 2;
    word-break: keep-all;
    
}
h2{
	background-color: olivedrab;
	text-align: center;
	color: white;
	
}
h1 > h2{
	display: flex;
	flex-wrap: wrap;
}
img{
	display: block;
	margin: auto;
}